<!DOCTYPE html>
<html lang="ru" data-ng-app="frApp">
<head>
  <title>Мастер Штат</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <a href="index.html" class="col-3 main-logo">
          <img src="images/main-logo-master.png" alt="">
        </a>
      
        <nav class="col-6 main-nav">
          <ul>
            <li class="main-nav__nav-item"><a href="#" class="active">Главная</a></li>
            <li class="main-nav__nav-item"><a href="workers.html">Разнорабочие</a></li>
            <li class="main-nav__nav-item"><a href="loaders.html">Грузчики</a></li>
            <li class="main-nav__nav-item"><a href="vacancy.html">Вакансии</a></li>
          </ul>
        </nav>
        <div class="col-3 fast-contact">
          <ul>
            <li class="fast-phone">
              +7 495-389-28-77
            </li>
            <li class="fast-email">
              <a href="mailto:sales@mastershtat.ru">sales@mastershtat.ru</a>
            </li>
          </ul>
        </div>
        <!-- /.fast-contact -->
      </div>
      <!-- /.row -->
    </div>
    <!-- .container -->
  </header>
  <main>
    <div class="top-slide top-slide--main">
      <div class="container">
        <h1>Срочно подберем бригаду грузчиков или рабочих! <br>Гарантированный результат за 24 часа</h1>
        <div class="row">
          <div class="col-4 col-null-1 main-feedback">
            <div class="main-feedback__feedback-form">

              <div class="main-feedback__feedback-head">Заказать рабочих</div>
              <form action="customer" data-ng-controller="FormController">
                <fieldset>
                  <label for="phone-input-main-feedback">Оставьте ваш телефон</label>
                  <input type="text" data-ng-class="{error: invalid}" data-ng-model="data.telEmail" id="phone-input-main-feedback" class="phone-input" placeholder="+7 (___) ___-__-__">
                  <input class="btn btn__slide" type="button" data-ng-click="submit()" value="Отправить">
                </fieldset>
              </form>
              <div class="main-feedback__phone">
                <span class="main-feedback__phone-head">Или позвоните нам:</span>
                <span class="main-feedback__phone-number">+7 495 389-28-77</span>
              </div>
            </div>
            <!-- .main-feedback__feedback-form -->
          </div>
          <!-- .main-feedback -->
          <ul class="col-7 top-slide__advantages">
            <li class="top-slide__advantages-item">Адекватные и организованные рабочие</li>
            <!-- /.top-slider__advantages-item -->
            <li class="top-slide__advantages-item">В бригадах только граждане РФ</li>
            <!-- /.top-slider__advantages-item -->
            <li class="top-slide__advantages-item">Предоставляем результат без хлопот</li>
            <!-- /.top-slider__advantages-item -->
          </ul>
          <!-- /.top-slider__advantages col-6 -->
         
        </div>
        <!-- .row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.top-slide -->

    <div class="advantages advantages--white"> 
      <div class="container">
        <h2>Закажите грузчиков и разнорабочих у нас прямо сейчас и получите:</h2>
        <div class="row">
          <div class="advantages__advantages-item col-3">
            <img src="images/icon-clock-old-big.png" alt="">
            <p>дбор за 24 часа более 50 человек с опытом работы</p>
          </div>
          <!-- /.advantages__advantages-item col-3 -->
          <div class="advantages__advantages-item col-3">
            <img src="images/icon-smile.png" alt="">
            <p>Рабочие приходят вовремя, трезвые и в чистой форме.</p>
          </div>
          <!-- /.advantages__advantages-item col-3 -->
          <div class="advantages__advantages-item col-3">
            <img src="images/icon-like-big.png" alt="">
            <p>Работа по технологии ГК «Персональное решение»</p>
          </div>
          <!-- /.advantages__advantages-item col-3 -->
          <div class="advantages__advantages-item col-3">
            <img src="images/icon-document.png" alt="">
            <p>Готовый результат с экономией до 40% денег</p>
          </div>
          <!-- /.advantages__advantages-item col-3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.continer -->
    </div>
    <!-- /.advantages advantages-white-->
    
    <div class="fast-feedback fast-feedback--feedback-orange">
      <div class="container">
        <div class="row">
          <div class="col-7 fast-feedback__feedback-form">
            <form action="customer" data-ng-controller="FormController">
              <fieldset>
                <p>
                  <label for="phone-input-feedback-one">Оставьте ваш телефон</label>
                  <input type="text" data-ng-class="{error: invalid}" data-ng-model="data.telEmail" id="phone-input-feedback-one" class="phone-input" placeholder="+7 (___) ___-__-__">
                </p>
                <input type="button" data-ng-click="submit()" value="Отправить" class="btn btn__small">
              </fieldset>
            </form>
          </div>
          <!--  .col-6 fast-feedback__feedback-form -->
          <div class="col-5 phone">
            <img src="images/icon-phone-white.png" alt="">
            <p>
              <span class="phone__phone-head">Или позвоните нам:</span>
              <span class="phone__phone-number">+7 495 389-28-77</span>
            </p>
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- .container fast-feedback__feedback-form-->
    </div>
    <!-- .fast-feedback -->

    <div class="our-clients">
      <div class="container">
        <h2>Мы сотрудничаем с организациями:</h2>
        <ul class="row">
          <li class="our-clients__item col-4 helmet">Стройки</li>
          <li class="our-clients__item col-4 box">Склады</li>
          <li class="our-clients__item col-4 gear">Производства</li>
          <li class="our-clients__item col-4 factory">Фабрики</li>
          <li class="our-clients__item col-4 plant">Заводы</li>
          <li class="our-clients__item col-4 shop">Магазины</li>
          <li class="our-clients__item col-4 basket">Супермаркеты</li>
          <li class="our-clients__item col-4 shop-cart">Гипермаркеты</li>
          <li class="our-clients__item col-4 ship">Порты</li>
        </ul>
      </div>
      <!-- .container -->
    </div>
    <!-- .our-clients -->

    <div class="fast-feedback fast-feedback--feedback-orange">
      <div class="container">
        <div class="row">
          <div class="col-7 fast-feedback__feedback-form">
            <form action="customer" data-ng-controller="FormController">
              <fieldset>
                <p>
                  <label for="phone-input-feedback-four">Оставьте ваш телефон</label>
                  <input type="text" data-ng-class="{error: invalid}" data-ng-model="data.telEmail" id="phone-input-feedback-four" class="phone-input" placeholder="+7 (___) ___-__-__">
                </p>
                <input type="button" data-ng-click="submit()" value="Отправить" class="btn btn__small btn--red">
              </fieldset>
            </form>
          </div>
          <!--  .col-6 fast-feedback__feedback-form -->
          <div class="col-5 phone">
            <img src="images/icon-phone-white.png" alt="">
            <p>
              <span class="phone__phone-head">Или позвоните нам:</span>
              <span class="phone__phone-number">+7 495 389-28-77</span>
            </p>
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
        <div class="adress-plate">
          <img src="images/main-logo-footer.png" alt="">
          <p>
            <span class="adress-plate__city">17570, г. Москва,<br> ул. Красного Маяка,<br> д. 15А, стр. 1</span><span class="adress-plate__phone">+7 495 389-28-77</span>
            <a href="mailto:sales@mastershtat.ru" class="adress-plate__email">sales@mastershtat.ru</a>
          </p>
        </div>
      </div>
      <!-- .container fast-feedback__feedback-form-->
    </div>
    <!-- .fast-feedback -->
  
  <div class="map">
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=65gckACjf3oXMj7if2lhGmRrUiF8PqLh&height=540"></script>
  </div>

  </main>
  <footer>
    <div class="container">
      <div class="row">
        <p class="col-9">Этот бизнес создан при партнерстве <a href="http://prconsult.bz/">prconsult.bz</a></p>
        <span class="col-3">© 2015</span>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </footer>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/jquery.maskedinput.min.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
  <script src="js/frApp.js"></script>
  <script src="js/main.js"></script>
</body>
</html>