<!DOCTYPE html>
<html lang="ru" data-ng-app="frApp">
<head>
  <title>Мастер Штат</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <a href="index.html" class="col-3 main-logo">
          <img src="images/main-logo-master.png" alt="">
        </a>
      
        <nav class="col-6 main-nav">
          <ul>
            <li class="main-nav__nav-item"><a href="index.html">Главная</a></li>
            <li class="main-nav__nav-item"><a href="workers.html">Разнорабочие</a></li>
            <li class="main-nav__nav-item"><a href="loaders.html">Грузчики</a></li>
            <li class="main-nav__nav-item"><a href="#" class="active">Вакансии</a></li>
          </ul>
        </nav>
        <div class="col-3 fast-contact">
          <ul>
            <li class="fast-phone">
              +7 495-389-28-77
            </li>
            <li class="fast-email">
              <a href="mailto:sales@mastershtat.ru">sales@mastershtat.ru</a>
            </li>
          </ul>
        </div>
        <!-- /.fast-contact -->
      </div>
      <!-- /.row -->
    </div>
    <!-- .container -->
  </header>
  <main>
    <div class="top-slide top-slide--vacancy">
      <div class="container">
        <h1>Ищете работу с зарплатой более 25 000 рублей в месяц? <br>Готовы и умеете работать руками? <br>Быстро найдем удобную подработку рядом с домом!</h1>
        <div class="row">
          <div class="col-4 col-null-4 main-feedback">
            <div class="main-feedback__feedback-form main-feedback__feedback-form-vacancy">

              <div class="main-feedback__feedback-head">Заказать рабочих</div>
              <form action="worker" data-ng-controller="FormController">
                <fieldset>
                  <label for="phone-input-main-feedback">Оставьте ваши контакты и начните зарабатывать:</label>
                  <input type="text" data-ng-class="{error: invalid}" data-ng-model="data.telEmail" id="phone-input-main-feedback" class="phone-input" placeholder="+7 (___) ___-__-__">
                  <input class="btn btn__slide" type="button" data-ng-click="submit()" value="Отправить">
                </fieldset>
              </form>
              <div class="main-feedback__phone">
                <span class="main-feedback__phone-head">Или позвоните нам:</span>
                <span class="main-feedback__phone-number">+7 495 389-28-77</span>
              </div>
            </div>
            <!-- .main-feedback__feedback-form -->
          </div>
          <!-- .main-feedback -->
        </div>
        <!-- .row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.top-slide -->

    <div class="advantages advantages--white advantages--vacancy"> 
      <div class="container">
        <div class="row">
          <div class="advantages__advantages-item col-4">
            <img src="images/icon-clock-old-big.png" alt="">
            <p>В любое время</p>
          </div>
          <!-- /.advantages__advantages-item col-3 -->
          <div class="advantages__advantages-item col-4">
            <img src="images/icon-compass.png" alt="">
            <p>Недалеко добираться</p>
          </div>
          <!-- /.advantages__advantages-item col-3 -->
          <div class="advantages__advantages-item col-4">
            <img src="images/icon-document.png" alt="">
            <p>Оплата вовремя</p>
          </div>
          <!-- /.advantages__advantages-item col-3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.continer -->
    </div>
    <!-- /.advantages advantages-white-->
    
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <p class="col-9">Этот бизнес создан при партнерстве <a href="http://prconsult.bz/">prconsult.bz</a></p>
        <span class="col-3">© 2015</span>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </footer>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/jquery.maskedinput.min.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
  <script src="js/frApp.js"></script>
  <script src="js/main.js"></script>
</body>
</html>